@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous');

body {
    background-image: url(/assets/wallpaper1.jpg);
    background-size: cover;
}

.clock {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    letter-spacing: 7px;
    display: inline-block;
    color: white;
    font-family: 'Righteous', serif;
    font-size: 12em; 
    text-shadow: 300em 200em 200em hsla(230,100%,100%,200%);
}

.container {
    text-align: center;
    bottom: 0;
    height: 200px;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
  }

#weekday{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    letter-spacing: 7px;
    display: inline-block;
    color: white;
    font-family: 'Rubik', serif;
    font-size: 5em; 
    text-shadow: 300em 200em 200em hsla(230,100%,100%,200%);
}

#phrase{
    position: absolute;
    top: -15%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    letter-spacing: 7px;
    display: inline-block;
    color: white;
    font-family: 'Rubik', serif;
    font-size: 5em; 
    text-shadow: 300em 200em 200em hsla(230,100%,100%,200%);
}

#google {
    border-radius: 50px;
    outline: none;
    background: white;
    height: 50px;
    width: 700px;
    position: absolute;
    left: 32%;
    top: 40%;
}

input[type=text] {
    width: 100%;
    padding: 12px 80px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid grey;
    border-radius: 4px;
    font-size: 24px;
}

.search-icon {
    padding: 12px 50px;
    margin: 8px 0;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 30%;
    top: 38.8%;
}

.settings-icon {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 2%;
    left: 96%;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.settings-icon:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}