@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.clock {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: 'Rubik';
    font-size: 85px;
    letter-spacing: 7px;
}